.about-me-part-left-div-wrapper {
    width: 50%;
    padding: 0px 50px 50px 100px;
    box-sizing: border-box;
}

.about-me-part-left-div-wrapper img{
    padding-left: 25px;
    width: 70px;
    height: 70px;
}

.about-me-part-left-div-wrapper p{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-family: "Kalam", cursive;
    font-weight: 700;
    letter-spacing: 1px;
    font-style: normal;
    color: whitesmoke;
}