.contact-page-left-div-wrapper{
    box-sizing: border-box;
    display: flex;
    padding: 20px 0;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.contact-page-left-div-wrapper form{
    display: flex;
    flex-direction: column;
    align-items: center;
}