.education-achievement-field-desktop-div-wrapper {
    border: 3px solid rgb(12, 12, 12);
    width: clamp(350px, 29vw, 600px);
    margin: 20px 0;
    padding: 15px 35px;
    cursor: pointer;
    border-radius: 25px;
    transition: all 0.5s ease-in-out;
    &:hover{
        opacity: 1;
        background-color: rgb(28, 29, 30);
    }
}