.message-text-area {
    box-sizing: border-box;
    height: 250px;
    width: clamp(400px, 26vw, 500px);
    margin-top: 20px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #3a3a3a;
    padding: 10px 20px;
    font-size: 18px;
    color: whitesmoke;
    outline: none;
}